In [16]:
# 28 I/O with Basic Files in Python

In [15]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Overwriting myfile.txt

In [16]:
myfile = open("myfile.txt")

In [17]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [18]:
myfile.seek(0)

0

In [19]:
contents = myfile.read()
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [20]:
myfile.readlines()

[]

In [21]:
myfile.close()

In [23]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [34]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_new_file.txt

In [35]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [83]:
with open('my_new_file.txt',mode='a') as f:
    f.write('FOUR ON FOURTH')

In [85]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

FOUR ON FOURTHFOUR ON FOURTH

In [38]:
with open('aksydgaikydsghiak.txt',mode='w') as f:
    f.write('I CREATED THIS FILE!')

In [39]:
with open('aksydgaikydsghiak.txt',mode='r') as f:
    print(f.read())

I CREATED THIS FILE!

In [1]:
# 32 Comparison Operators in Python

In [2]:
2 == 2

True

In [3]:
2 == 1

False

In [4]:
'hello' == 'bye'

False

In [5]:
'Bye' == 'bye'

False

In [6]:
'2' == 2

False

In [7]:
2.0 == 2

True

In [9]:
3 != 3
# != It means inequality

False

In [10]:
4 != 5

True

In [11]:
2 > 1

True

In [12]:
1 > 2

False

In [13]:
2 < 5

True

In [14]:
2 >= 1

True

In [15]:
2 >= 2

True

In [16]:
2 >= 3

False

In [17]:
4 <= 1

False

In [18]:
# 33 Chaining Comparison Operators in Python with Logical Operators

In [19]:
1 < 2

True

In [20]:
2 < 3

True

In [21]:
1 < 2 < 3

True

In [22]:
1 < 2 > 3

False

In [23]:
1 < 2 and 2 > 3

False

In [24]:
1 < 2 and 2 < 3

True

In [25]:
'h' == 'h' and 2 == 2

True

In [26]:
('h' == 'h') and (2 == 2)

True

In [27]:
1 == 1 or 2 == 2

True

In [28]:
1 == 1 or 5 == 4

True

In [29]:
100 == 1 or 2 == 2

True

In [30]:
100 == 1 or 2 == 200

False

In [31]:
not (1 == 1)

False

In [33]:
not (400 > 5000)

True

In [34]:
# 34 If Elif and Else Statements in Python

In [35]:
if True:
    print('ITS TRUE')

ITS TRUE

In [36]:
if 3 > 2:
    print('ITS TRUE')

ITS TRUE

In [37]:
hungry = True
if hungry:
    print('FEED ME!')

FEED ME!

In [38]:
hungry = False
if hungry:
    print('FEED ME!')
    #Nothing is printed because it is False

In [41]:
hungry = False
if hungry:
    print('FEED ME!')
else:
    print("Im not hungry")

Im not hungry

In [43]:
loc = 'Bank'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print('Money is cool!')
elif loc == 'Store':
    print("Welcome to the Store!")
else:
    print("I do not know much.")

Money is cool!

In [45]:
name = 'Jose'

if name == 'Frankie':
    print("Hello Frankie!")
elif name == 'Sammy':
    print("Hello Sammy!")
else:
    print("What is your name?")

What is your name?

In [46]:
# 35 For Loops in Python

In [47]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [48]:
for jelly in mylist:
    print(jelly)

1
2
3
4
5
6
7
8
9
10

In [49]:
for jelly in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [52]:
for num in mylist:
    #Check for even
    if num % 2 == 0:
        print(num)
    else:
        print('Odd Number: {n}'.format(n = num))

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [53]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
print(list_sum)

55

In [54]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [55]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [56]:
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [60]:
for _ in 'Hello World':
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [66]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [67]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [68]:
len(mylist)

4

In [69]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [70]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [71]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [72]:
for (a,b,c) in mylist:
    print(b)

2
6
9

In [74]:
d = {'k1':1,'k2':2,'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [75]:
d = {'k1':1,'k2':2,'k3':3}

for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [1]:
d = {'k1':1,'k2':2,'k3':3}

for key,value in d:
    print(value)

1
2
3

In [2]:
# 36 While Loops in Python

In [7]:
x = 0
while x < 5 :
    print('The current value of x is {x}'.format(x=x))
    x += 1

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4

In [8]:
x = 0
while x < 5 :
    print('The current value of x is {x}'.format(x=x))
    x += 1
else:
    print('X IS NOT LESS THAN 5')

The current value of x is 0
The current value of x is 1
The current value of x is 2
The current value of x is 3
The current value of x is 4
X IS NOT LESS THAN 5

In [9]:
x = [1,2,3]

for item in x:
    #comment
    pass

print('end of my script')

end of my script

In [10]:
mystring = 'Sammy'

In [11]:
for letter in mystring:
    if letter == 'a':
        continue
    print(letter)

S
m
m
y

In [12]:
for letter in mystring:
    if letter == 'a':
        break
    print(letter)

S

In [14]:
x = 0
while x < 5:
    if x == 2:
        break
    print(x)
    x += 1

0
1

In [1]:
# 37 Useful Operators in Python

In [2]:
mylist = [1,2,3]

In [4]:
for num in range(0,11,2):
    print(num)

0
2
4
6
8
10

In [5]:
list(range(0,11,2))

[0, 2, 4, 6, 8, 10]

In [7]:
index_count = 0

for letter in 'abcde':
    print('At index {} the letter is {}'.format(index_count,letter))
    index_count += 1

At index 0 the letter is a
At index 1 the letter is b
At index 2 the letter is c
At index 3 the letter is d
At index 4 the letter is e

In [10]:
index_count = 0
word = 'abcde'
for letter in word:
    print(word[index_count])
    index_count += 1

a
b
c
d
e

In [11]:
word = 'abcde'

for index,letter in enumerate(word):
    print(index,letter)

0 a
1 b
2 c
3 d
4 e

In [12]:
mylist1 = [1,2,3]
mylist2 = ['a','b','c']
mylist3 = [100,200,300]

In [13]:
for item in zip(mylist1,mylist2,mylist3):
    print(item)

(1, 'a', 100)
(2, 'b', 200)
(3, 'c', 300)

In [14]:
list(zip(mylist1,mylist2,mylist3))

[(1, 'a', 100), (2, 'b', 200), (3, 'c', 300)]

In [15]:
'x' in [1,2,3]

False

In [16]:
'x' in ['x','y','z']

True

In [17]:
'a' in 'a word'

True

In [18]:
'mykey' in {'mykey':345}

True

In [19]:
d = {'mykey':345}

345 in d.keys()

False

In [20]:
d = {'mykey':345}

345 in d.values()

True

In [21]:
mylist = [10,20,30,40,100]

In [22]:
min(mylist)

10

In [23]:
max(mylist)

100

In [24]:
from random import shuffle

In [25]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [43]:
random_list = shuffle(mylist)

In [39]:
type(random_list)

NoneType

In [44]:
mylist

[9, 4, 1, 8, 3, 10, 6, 2, 7, 5]

In [45]:
from random import randint

In [51]:
randint(0,100)

74

In [52]:
randint(0,100)

18

In [53]:
mynum = randint(0,100)

In [54]:
mynum

95

In [56]:
input('Enter a number here: ')

Enter a number here: 50

'50'

In [57]:
result = input('what is your name? ')

what is your name? javad

In [58]:
result

'javad'

In [61]:
result = input('Favorite Number: ')

Favorite Number: 20

In [62]:
result

'20'

In [63]:
result = int(input('Favorite Number: '))

Favorite Number: 20

In [64]:
result

20

In [65]:
type(result)

int

In [66]:
# 38 List Comprehensions in Python

In [67]:
mystring = 'hello'

In [71]:
mylist = []

for letter in mystring:
    mylist.append(letter)

In [72]:
mylist

['h', 'e', 'l', 'l', 'o']

In [73]:
mylist = [letter for letter in mystring]

In [74]:
mylist

['h', 'e', 'l', 'l', 'o']

In [75]:
mylist = [x for x in 'word']

In [76]:
mylist

['w', 'o', 'r', 'd']

In [79]:
mylist = [num for num in range(0,11)]

In [80]:
mylist

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [81]:
mylist = [num**2 for num in range(0,11)]

In [86]:
mylist

[0, 1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

In [87]:
mylist = [x for x in range(0,11) if x%2 == 0]

In [88]:
mylist

[0, 2, 4, 6, 8, 10]

In [89]:
mylist = [x**2 for x in range(0,11) if x%2 == 0]

In [91]:
mylist

[0, 4, 16, 36, 64, 100]

In [92]:
celcius = [0,10,20,34.5]

fahrenheit = [(9/5*temp + 32) for temp in celcius]

In [93]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [94]:
fahrenheit = []

for temp in celcius:
    fahrenheit.append(((9/5)*temp + 32))

In [95]:
fahrenheit

[32.0, 50.0, 68.0, 94.1]

In [96]:
results = [x if x%2==0 else 'ODD' for x in range(0,11)]

In [98]:
results

[0, 'ODD', 2, 'ODD', 4, 'ODD', 6, 'ODD', 8, 'ODD', 10]

In [99]:
mylist = []

for x in [2,4,6]:
    for y in [1,10,1000]:
        mylist.append(x*y)

In [100]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]

In [102]:
mylist = [x*y for x in [2,4,6] for y in [1,10,1000]]

In [103]:
mylist

[2, 20, 2000, 4, 40, 4000, 6, 60, 6000]