In [16]:
# 28 I/O with Basic Files in Python

In [15]:
%%writefile myfile.txt
Hello this is a text file
this is the second line
this is the third line

Overwriting myfile.txt

In [16]:
myfile = open("myfile.txt")

In [17]:
myfile.read()

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [18]:
myfile.seek(0)

0

In [19]:
contents = myfile.read()
contents

'Hello this is a text file\nthis is the second line\nthis is the third line\n'

In [20]:
myfile.readlines()

[]

In [21]:
myfile.close()

In [23]:
with open('myfile.txt') as my_new_file:
    contents = my_new_file.read()

In [34]:
%%writefile my_new_file.txt
ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

Overwriting my_new_file.txt

In [35]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

In [36]:
with open('my_new_file.txt',mode='a') as f:
    f.write('\nFOUR ON FOURTH')

In [37]:
with open('my_new_file.txt',mode='r') as f:
    print(f.read())

ONE ON FIRST
TWO ON SECOND
THREE ON THIRD

FOUR ON FOURTH

In [38]:
with open('aksydgaikydsghiak.txt',mode='w') as f:
    f.write('I CREATED THIS FILE!')

In [39]:
with open('aksydgaikydsghiak.txt',mode='r') as f:
    print(f.read())

I CREATED THIS FILE!

In [1]:
# 32 Comparison Operators in Python

In [2]:
2 == 2

True

In [3]:
2 == 1

False

In [4]:
'hello' == 'bye'

False

In [5]:
'Bye' == 'bye'

False

In [6]:
'2' == 2

False

In [7]:
2.0 == 2

True

In [9]:
3 != 3
# != It means inequality

False

In [10]:
4 != 5

True

In [11]:
2 > 1

True

In [12]:
1 > 2

False

In [13]:
2 < 5

True

In [14]:
2 >= 1

True

In [15]:
2 >= 2

True

In [16]:
2 >= 3

False

In [17]:
4 <= 1

False

In [18]:
# 33 Chaining Comparison Operators in Python with Logical Operators

In [19]:
1 < 2

True

In [20]:
2 < 3

True

In [21]:
1 < 2 < 3

True

In [22]:
1 < 2 > 3

False

In [23]:
1 < 2 and 2 > 3

False

In [24]:
1 < 2 and 2 < 3

True

In [25]:
'h' == 'h' and 2 == 2

True

In [26]:
('h' == 'h') and (2 == 2)

True

In [27]:
1 == 1 or 2 == 2

True

In [28]:
1 == 1 or 5 == 4

True

In [29]:
100 == 1 or 2 == 2

True

In [30]:
100 == 1 or 2 == 200

False

In [31]:
not (1 == 1)

False

In [33]:
not (400 > 5000)

True

In [34]:
# 34 If Elif and Else Statements in Python

In [35]:
if True:
    print('ITS TRUE')

ITS TRUE

In [36]:
if 3 > 2:
    print('ITS TRUE')

ITS TRUE

In [37]:
hungry = True
if hungry:
    print('FEED ME!')

FEED ME!

In [38]:
hungry = False
if hungry:
    print('FEED ME!')
    #Nothing is printed because it is False

In [41]:
hungry = False
if hungry:
    print('FEED ME!')
else:
    print("Im not hungry")

Im not hungry

In [43]:
loc = 'Bank'

if loc == 'Auto Shop':
    print("Cars are cool!")
elif loc == 'Bank':
    print('Money is cool!')
elif loc == 'Store':
    print("Welcome to the Store!")
else:
    print("I do not know much.")

Money is cool!

In [45]:
name = 'Jose'

if name == 'Frankie':
    print("Hello Frankie!")
elif name == 'Sammy':
    print("Hello Sammy!")
else:
    print("What is your name?")

What is your name?

In [46]:
# 35 For Loops in Python

In [47]:
mylist = [1,2,3,4,5,6,7,8,9,10]

In [48]:
for jelly in mylist:
    print(jelly)

1
2
3
4
5
6
7
8
9
10

In [49]:
for jelly in mylist:
    print('hello')

hello
hello
hello
hello
hello
hello
hello
hello
hello
hello

In [52]:
for num in mylist:
    #Check for even
    if num % 2 == 0:
        print(num)
    else:
        print('Odd Number: {n}'.format(n = num))

Odd Number: 1
2
Odd Number: 3
4
Odd Number: 5
6
Odd Number: 7
8
Odd Number: 9
10

In [53]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
print(list_sum)

55

In [54]:
list_sum = 0

for num in mylist:
    list_sum = list_sum + num
    print(list_sum)

1
3
6
10
15
21
28
36
45
55

In [55]:
mystring = 'Hello World'

for letter in mystring:
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [56]:
for letter in 'Hello World':
    print(letter)

H
e
l
l
o

W
o
r
l
d

In [60]:
for _ in 'Hello World':
    print('Cool!')

Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!
Cool!

In [66]:
tup = (1,2,3)

for item in tup:
    print(item)

1
2
3

In [67]:
mylist = [(1,2),(3,4),(5,6),(7,8)]

In [68]:
len(mylist)

4

In [69]:
for item in mylist:
    print(item)

(1, 2)
(3, 4)
(5, 6)
(7, 8)

In [70]:
for (a,b) in mylist:
    print(a)
    print(b)

1
2
3
4
5
6
7
8

In [71]:
mylist = [(1,2,3),(5,6,7),(8,9,10)]

In [72]:
for (a,b,c) in mylist:
    print(b)

2
6
9

In [74]:
d = {'k1':1,'k2':2,'k3':3}

for item in d:
    print(item)

k1
k2
k3

In [75]:
d = {'k1':1,'k2':2,'k3':3}

for item in d.items():
    print(item)

('k1', 1)
('k2', 2)
('k3', 3)

In [76]:
d = {'k1':1,'k2':2,'k3':3}

for key,value in d:
    print(value)

1
2
3